@font-face {
    font-family: 'Nunito Sans';
    src: url('../../assets/Font/NunitoSans-Regular.woff') format('woff');
}


/* Variables */
$black: #323232;
$white: #FFFFFF;


body {
    font-family: 'Nunito Sans';
    margin: 0;
}